*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
}

.table-container{
    overflow-x: auto;
    Height: 400px;
    width: 750px ;    
}
.tables{
    width: 700px;
    height: 300px;
    color: white;
}
.lineChartStyle {
    width: 800px;
    height: 500px;
    background-Color:  rgba(0,0,0,0.6);
    border-Radius: 10px;
    padding:  20px;
}
.chartContainerStyle{
    
    height:  700px ;
    width:  100% ;
    display:  flex ;
    flex-Direction:  column ;
    align-Items: center ;
    justify-Content:center ;
    text-Align:  center ;
    /* color:  rgb(34,44,137); */
}
.chart-Container{
    height: 100px;
}
.heading{
    font-size: 60px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: 500;
    margin-bottom: 30px;
    color: white;
}
.background-ultra{
    height: 800px;
    width: 100%;
    background: linear-gradient(rgb(10, 31, 101),rgb(2, 1, 7));
    border: none;
    
}
.background-air{
    height: 800px;
    width: 100%;
    background: linear-gradient(rgb(10, 31, 101),rgb(2, 1, 7));
    border: none;
}
.background-temp{
    height: 800px;
    width: 100%;
    background: linear-gradient(rgb(2, 1, 7),rgb(10, 31, 101));
    border: none;
}
.Charts{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* margin-right: 40px; */
}
.Li::before {content: "● "; color: red}
.Li2::before {content: "● "; color: blue}
.Li3::before {content: "● "; color: green}
.Li{
    color: red;
}
.Li2{
    color: blue;
}
.Li3{
    color: green;
}
.left-nav{
    background-color: rgba(255, 255, 255, 0.6);
    border: none;
    border-radius: 25px;
    color: black;
    text-align: center;
    padding: 10px;
    font-size: 18px; 
}
.right-nav{
    background-color: rgba(255, 255, 255, 0.6);
    border: none;
    border-radius: 25px;
    color: black;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    
}
.left-nav:hover{
    background-color: black;
    color: white;
    transform: translateY(-5px);
    transition: 0.2s;
    border: 1px solid white;
}
.right-nav:hover{
    background-color: black;
    color: white;
    transform: translateY(-5px);
    transition: 0.2s;
    border: 1px solid white;

}

@media screen and (max-width : 993px ) and (min-width:790px){
    .lineChartStyle{
        width: 700px;
    }
    .table-container{
        width: 650px;
        font-size: 16px;
    }
    .tables{
        width: 600px;
    }
    .left-nav,.right-nav{
        font-size: 16px;
        padding: 7px;

    }
    .heading{
        font-size: 45px;
    }
    
}
@media screen and (max-width : 790px ) and (min-width:600px){
    .lineChartStyle{
        width: 550px;
    }
    .table-container{
        width: 500px;
        font-size: 14px;
    }
    .tables{
        width: 450px;
    }
    .left-nav,.right-nav{
        font-size: 15px;
        padding: 6px;

    }
    .chartContainerStyle{
        height: 700px;
    }
    .heading{
        font-size: 38px;
    }
    
}
@media screen and (max-width: 599px) and (min-width: 500px) {
    .lineChartStyle{
        width: 500px;
        height: 400px;
    }
    .table-container{
        width: 450px;
        height: 300px;
        font-size: 12px;
    }
    .tables{
        width:400px ;
    }
    .left-nav,.right-nav{
        font-size: 12px;
        padding: 5px;

    }
    .heading{
        font-size: 32px;
    }
    .chartContainerStyle{
        height: 600px;
    }

} 
@media screen and (max-width: 500px) and (min-width:300px) {
    .lineChartStyle{
        width: 400px;
    }
    .table-container{
        width: 360px;
        font-size: 10px;
    }
    
    .tables{
        width: 335px;
    }
    .left-nav,.right-nav{
        font-size: 12px;
        padding: 3px;

    }
    .heading{
        font-size: 24px;
    }
    .chartContainerStyle{
        height: 500px;
    }
} 